/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-image: url('hero.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh; /* Adjust as needed */
  color: white; /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

section {
  padding: 20px;
}

.project {
  margin-bottom: 20px;
}

/* Responsive Design */
@media (min-width: 600px) {
  .project {
      display: flex;
      align-items: center;
  }
  .project img {
      max-width: 50%;
      margin-right: 20px;
  }
}

@media (min-width: 900px) {
  body {
      max-width: 900px;
      margin: auto;
  }
}

nav {
  background-color: #333;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}